{:infrastructure.config/configuration {:db-uri #profile {:test "jdbc:postgresql://localhost:54321/postgres?user=postgres&password=postgres"
                                                         :default #env DATABASE}
                                       :mailer {:host "localhost"
                                                :port 1025
                                                :from "marko@test.com"}}
 :infrastructure.handler/app {:oauth2
                              {:google
                               {:authorize-uri "https://accounts.google.com/o/oauth2/v2/auth"
                                :access-token-uri "https://oauth2.googleapis.com/token"
                                :client-id #profile {:test ""
                                                     :default #env GOOGLE_CLIENT_ID}
                                :client-secret #profile {:test ""
                                                         :default #env GOOGLE_CLIENT_SECRET}
                                :scopes ["openid"]
                                :launch-uri "/oauth2/google"
                                :redirect-uri "/oauth2/google/callback"
                                :landing-uri "/"}}}

 :infrastructure.jobs/send-reminder-email {}
 :infrastructure.server/jetty {:handler #ig/ref :infrastructure.handler/app :port #long #or [#env PORT 3000]}
 :infrastructure.http/toggl {}
 :domain/entry-repository {:impl #ig/ref :infrastructure.http/toggl}
 :infrastructure.http/tempo {}
 :domain/worklog-repository {:impl #ig/ref :infrastructure.http/tempo}
 :infrastructure.database/credential {:db-uri #ref [:infrastructure.config/configuration :db-uri]}
 :domain/credential-repository {:impl #ig/ref :infrastructure.database/credential}
 :infrastructure.queue/proletarian {:db #ref [:infrastructure.config/configuration :db-uri]
                                    :config {:proletarian/polling-interval-ms 2000}
                                    :jobs {:send-reminder-email #ig/ref :infrastructure.jobs/send-reminder-email}}
 :domain/worker {:impl #ig/ref :infrastructure.queue/proletarian}
 :infrastructure.mailer/postal {:config #ref [:infrastructure.config/configuration :mailer]}
 :domain/mailer {:impl #ig/ref :infrastructure.mailer/postal}}
