{:secrets #include #join [".secrets.edn"]
 :handler/run-app {:oauth2 #ig/ref :oauth2/google}
 :adapter/jetty {:handler #ig/ref :handler/run-app :port 3000}
 :oauth2/google #ref [:secrets :google-oauth2]
 :di/entry {}
 :di/worklog {}
 :di/credential {:db-uri #ref [:secrets :db]}}
