{:secrets #include #join [".secrets.edn"]
 :infrastructure.handler/app {:oauth2 {:google #ref [:secrets :google-oauth2]}}
 :infrastructure.server/jetty {:handler #ig/ref :infrastructure.handler/app :port 3000}
 :infrastructure.http/toggl {}
 :domain/entry-repository {:impl #ig/ref :infrastructure.http/toggl} ;TODO: depenods on global state, not too happy about it
 :infrastructure.http/tempo {}
 :domain/worklog-repository {:impl #ig/ref :infrastructure.http/tempo} ;TODO: depenods on global state, not too happy about it
 :infrastructure.database/credential {:db-uri #ref [:secrets :db]}
 :domain/credential-repository {:impl #ig/ref :infrastructure.database/credential} ;TODO: depenods on global state, not too happy about it
 :migrations {:store :database
              :migration-dir "migrations/"
              :migration-table-name "migrations"
              :db #ref [:secrets :db]}}

